 html{
  font-size: 62.5%;
}

.footer {
  width: 94.0rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  color: #666666;
  font-size: 1.5rem;
  border-top: 1px solid #e5e5e5;
}

.img-footer {
  width: 6rem;
  height:6rem;
  margin-right: .5rem;
  padding-top: 2rem;
  float: left;
}

.footer-logo {
  width: 50%;
  margin:0;
  float: left;
}

.footer-logo p {
  font-size: 1.5rem;
  margin: 0;
  padding-top: 2rem;
  line-height: 2rem;
  
}

.contact {
  width: 50%;
  margin: 0;
  float: right;
  
}
.contact h5 {
  font-size: 1.5rem;
  margin: 0;
  padding-top: 2rem;
  line-height: 2rem;
  color: #999999;
  text-transform: none;
}

.contact p {
  display: inline-block;
  font-size: 1.4rem;
  margin: 0;
  line-height: 2rem; 
}

